.dashboard-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 16px;
}

.dashboard-switchview {
    gap: 1rem;
    padding: 2rem 0 1rem 0;

}

.dashboard-chooseteam-select {
    border: solid 2px var(--primary);
    border-radius: 20px;
    padding: var(--space-1);
}


.dashboard-chooseteam-buttons {
    display: none;
}


.dashboard-selects {
    gap: 1rem;
}

@media only screen and (min-width: 800px) {
    .dashboard-container {
        padding: 0 20px;
    }

    .dashboard-switchview {
        justify-content: flex-end;
        padding: 0 1rem 2rem 0;
        display: flex;
    }

    .dashboard-chooseteam-buttons {
        gap: 2rem;
        display: flex;

    }

    .dashboard-chooseteam-select {
        display: none;
    }


}