.dashboard-switchview {
    display: none;
}


.dashboard-chooseteam {
    gap: 0.8rem;
}

@media only screen and (min-width: 800px) {


    .dashboard-switchview {
        display: flex;
        justify-content: flex-end;
        gap: 0.8rem;
        padding: 0 1rem 2rem 0;
    }

    .dashboard-chooseteam {
        gap: 2rem;

    }


}