.landing {
    background-image: var(--background-gradient);
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    display: flex;
    background: linear-gradient(120deg, #FCE7C8,#CFE8FF);
    background-size: 200% 200%;
    animation: breatheBackground 12s ease-in-out infinite;

}

@keyframes breatheBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



.header {
    width: 100%;
    display: flex;
    justify-content: flex-start;

}

.tagline {
    padding: 20vh 5% 9% 10%;
    text-align: center;
    font-size: var(--text-xl);
    text-shadow:
        0 0 10px rgba(249, 209, 162, 0.2),
        0 0 10px rgba(209, 218, 227, 0.3);
}