.login-background {
    min-height: 100vh;
    background: linear-gradient(to bottom right, #fdfce9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-card {
    background: rgba(255, 255, 255, 0.85);
    padding: 40px;
    border-radius: 16px;
    border: 3px solid #A8D8C4;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.login-title {
    text-align: center;
    color: #555;
    margin-bottom: 10px;
}
