.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center; 
}


.login-background {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* começa do topo */
    padding-top: 140px; /* espaço para o header + logo */
    position: relative;
    overflow: hidden;
}



.login-card {
    background: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 16px;
    border: 3px solid #A8D8C4;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 5;
}



.login-title {
    text-align: center;
    color: #555;
    margin-bottom: 10px;
}
