.permission-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.permission-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 480px;
    padding: 2rem;
}

.permission-title {
    color: var(--text-dark);
    font-size: 1.8rem;
    margin-bottom: var(--text-lg);
}

.permission-text {
    color: var(--text-dark);
    font-size: var(--text-base);
    margin-bottom: 2rem;
    line-height: 1.5;
    width: 85%;
}

.permission-action {
    margin-bottom: 2.5rem;
}
