.dashboardOverview {
    /* padding: var(--space-3) 0; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(1.01rem, 2vw, 1.5rem);
    margin-top: 1rem;
    justify-items: center;
    align-items: stretch;
}

.graphs {
    gap: 3rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column; 
}


@media only screen and (min-width: 800px) {
    /* .dashboardView-container {

    } */

    .dashboardOverview {
        display: flex;
        justify-content: center;
        gap: clamp(1rem, 1.5vw, 2rem);
        padding: 1rem;
        gap: 3rem;
        border-radius: 1.5rem;
        background: linear-gradient(to right,
                rgba(168, 216, 196, 0.2),
                rgba(207, 232, 255, 0.2));
        border-width: 1px;
        border-style: solid;
        border-color: rgba(101, 168, 140, 0.5);
    }

    
}

@media only screen and (min-width: 1000px) {
    .graphs{
        flex-direction: row;
    }

}
