
.login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.error-box {
    background: #ffe5e5;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ffb3b3;
    color: #d40000;
    font-size: 14px;
}


.input-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}


.input-group input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    background: #e6e6e6;
}


.login-button {
    margin-top: 10px;
    padding: 12px;
    background: linear-gradient(to right, #0d9488, #A8D8C4);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
