.signup-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.signup-title {
    color: #666666;
}

.error-box {
    background: #ffe5e5;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ffb3b3;
    color: #d40000;
    font-size: 14px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.signup-form input,
.signup-form select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    background: #f5f5f5;
    color:#666666;
}

.signup-button {
    margin-top: 10px;
    padding: 12px;
    background: linear-gradient(135deg, rgb(251, 179, 155) 0%, rgb(252, 196, 179) 100%);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}