.signup-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.error-box {
    background: #ffe5e5;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ffb3b3;
    color: #d40000;
    font-size: 14px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-group input,
.input-group select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    background: #f5f5f5;
}

.signup-button {
    margin-top: 10px;
    padding: 12px;
    background: linear-gradient(135deg, rgb(251, 179, 155) 0%, rgb(252, 196, 179) 100%);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

/* toggle para mudar para login */
.toggle-text {
    text-align: center;
    margin-top: 10px;
    color: #555;
    font-size: 14px;
}

.toggle-link {
    color: #0d9488;
    cursor: pointer;
    font-weight: bold;
}
