.weeklyComparisonContainer{
    width: 70vw;
    height: auto;
    background-color: #fffffd;
    border-radius: 4%;
    display: 'flex';
    color:var(--text-dark);
    
}

.headline{
    padding:5% 5% 0 5% ;
    font-weight: 350;
    font-size: var( --text-lg);

}

@media only screen and (min-width: 800px) {
    .weeklyComparisonContainer{
        width: 50%;
    }
    
}