.workload-chart-container {
    width: 30vw;
    height: 400px;
    background-color: #fffffd;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    color: var(--text-dark);
}

.workload-chart-container h3 {
    padding: 5% 5% 0 5%;
    font-weight: 350;
    font-size: var(--text-lg);
}

@media only screen and (min-width: 800px) {
    .workload-chart-container {
        width: 25vw;
    }
}